
<div class="content-wrapper">
  <section class="content-header">
    <h1>{{currDevice.description}} Page</h1>
    <small>Registered: {{currDevice.reg_date}} - Access device specific settings</small>
    <ol class="breadcrumb">
      <li><a href="/dashboard"><i class="fa fa-dashboard"></i> Dashboard</a></li>
      <li><a href="/dashboard/AccountSettings"><i class="fa fa-cog"></i> Account Settings</a></li>
    </ol>
  </section>

  <section class="content container-fluid">
    <div class="row">
      <div class="">
        <div class="box">
          <div class="box-header">
            {{!-- <h3 class="box-title">Settings</h3> --}}
          </div>

          <div class="box-body">
            <div class="row">
              <div class="col-sm-4">
                <a href="/dashboard/bees/{{currDevice.uuid}}/logs">
                  <div class="thumbnail">
                    {{!-- <img src="..." alt="..."> --}}
                    <div class="caption text-center">
                      <h3>Logs</h3>
                      <p>View detailed diagnostic information related to your device.</p>
                    </div>
                  </div>
                </a>
              </div>

              <div class="col-sm-4">
                <a href="/dashboard/bees/{{currDevice.uuid}}/configure">           
                  <div class="thumbnail">
                    <div class="caption text-center">
                      <h3>Configuration</h3>
                      <p>Configure and fine tune settings parameters for your device.</p>
                    </div>
                  </div>
                </a>
              </div>

              <div class="col-sm-4">
                <a href="/dashboard/bees/{{currDevice.uuid}}/boxes">
                  <div class="thumbnail">
                    <div class="caption text-center">
                      <h3>Modify Capture Area</h3>
                      <p>Specify additional areas in the camera-view to track seperately.</p>
                    </div>
                  </div>
                </a>
              </div>
            </div>

          </div> <!-- box-body -->
        </div>
      </div>

    </div>
  </section>
</div>

<style>
.thumbnail:hover {
  background-color: #d2d2d2;
}
</style>