

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Device Logs - {{currDevice.description}}
        <small>
          <a href="/dashboard/bees/{{currDevice.uuid}}/configure">configure device</a>
        </small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="/dashboard"><i class="fa fa-dashboard"></i> Dashboard</a></li>
        <li><a href="/dashboard/bees/{{currDevice.uuid}}"><i class="fa fa-book"></i> Logs</a></li>
      </ol>
    </section>

    <!-- Main content -->
    <div class="row">
    <section class="content container-fluid">
      <div class="col-md-9">
          <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">Logs</h3>

              <div class="box-tools pull-right">
                
              </div>
              <!-- /.box-tools -->
            </div>
            <!-- /.box-header -->
            <div class="box-body no-padding">
              
              <div class="table-responsive mailbox-messages">
                <table id="log_table" class="display">
                  <thead>
                    <tr>
                      <th>Alert</th>
                      <th>People</th>
                      <th>Time</th>
                      <th>Status</th>
                    </tr>
                  </thead>
                  <tbody>
                {{#if logs}}
                  {{#each logs}}
                  <tr>
                    <td class="mailbox-name"><span class="label label-success">Recorded</span></td>
                    <td>{{this.people}}</td>
                    <td class="mailbox-date">{{this.rtime}}</td>
                    <td>{{this.dstatus}}</td>
                  </tr>
                  {{/each}}
                {{/if}}
     
                    {{!--
                    <tr>
                      <td class="mailbox-name"><span class="label label-danger">Danger</span></td>
                      <td class="mailbox-subject"><b>Bear Sighting!</b> - Is he after the honey? Assembling drones...
                      </td>
                      <td class="mailbox-attachment"></td>
                      <td class="mailbox-date">2 mins ago</td>
                    </tr>
                    <tr>
                      <td class="mailbox-name"><span class="label label-success">Connected</span></td>
                      <td class="mailbox-subject"><b>Connection Re-established</b> - Reconnected.
                      </td>
                      <td class="mailbox-attachment"></td>
                      <td class="mailbox-date">4 mins ago</td>
                    </tr>
                  <tr>
                    <td class="mailbox-name"><span class="label label-warning">Warning</span></td>
                    <td class="mailbox-subject"><b>Lost Connection</b> - Trying to establish reconnection...
                    </td>
                    <td class="mailbox-attachment"></td>
                    <td class="mailbox-date">5 mins ago</td>
                  </tr>
                  !--}}
                  </tbody>
                </table>
                <!-- /.table -->
              </div>
              <!-- /.mail-box-messages -->
            </div>
            <!-- /.box-body -->
            
          </div>
          <!-- /. box -->
        </div>
      </div>
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
  
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>

<script>
  $(document).ready( function () {
    $('#log_table').DataTable();
} );
</script>
